.landing {
  width: 100%;
  background: linear-gradient(100deg, #d16c6c, #ac1d1d);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
}

.landing a {
  color: #fff;
}

.colors-container {
  width: 100%;
  display: grid;
  padding: 0;
  margin: 92px 0 0 0;
  grid-template-columns: repeat(2, 1fr);
}

.colors-container .link-to-color {
  text-decoration: none;
  display: block;
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
  /* background: blue; */
  height: 100px;
}

.link-to-color .color {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color > p.color-name {
  padding: 12px 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #dbd5d5;
  font-weight: 900;
  font-size: 1.05rem;
}

p.remove-color {
  position: absolute;
  z-index: 20;
  top: -10px;
  right: 5px;
  display: none;
  background: rgba(59, 41, 41, 0.4);
  color: #dbd5db;
  border-radius: 50%;
  padding: 5px 10px;
}

.colors-container .link-to-color:hover p.remove-color {
  display: block;
}
